<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order History List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h3 th:text="'Order History for ' + ${author}">Order History</h3>

    <table id="orderHistoryTable" border="1" class="table table-striped table-responsive-md mt-3">
        <thead>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Author</th>
            <th scope="col">Status</th>
            <th scope="col">Order Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.author}"></td>
            <td th:text="${order.status}"></td>
            <td th:text="${order.orderTime}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
